<!-------------------- Angular Lesson 1 -------------------->
<h1>Angular Lesson 1</h1>

<h3>Hello, {{title}}</h3>

<p>{{ message }}</p>

<app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post>

<p>{{ fromChildOutput }}</p>

<hr /><br /><br />


<!-------------------- Angular Lesson 2 (String Interpolation & Button Click) -------------------->
<h1>Angular Lesson 2 - String Interpolation and Button Click</h1>

<!-- String Interpolation -->
<p>{{ message_output }}</p>

<!-- Property Binding (Two way to do) -->
<img src="{{ imgUrl }}" alt="" width="100px">
<img [src]="imgUrl" alt="" width="100px">
<br />

<!---------- Event Binding ---------->
<button (click)="buttonClick()">Click</button>

<hr /><br /><br />


<!---------- Angular Lesson 4 (Data Binding) ---------->
<!-- <app-data-binding></app-data-binding> -->


<!---------- Basic Form (Practice) ---------->
<!-- <app-form></app-form> -->


<!---------- Angular Lesson 5 (Directive) ---------->
<!-- <app-directive></app-directive> -->


<!---------- Angular Lesson 6 (NG Style) ---------->
<!-- <app-ng-style></app-ng-style> -->


<!---------- Task ---------->
<!-- <app-task></app-task> -->


<!---------- Angular Pipe ---------->
<app-pipe></app-pipe>

